.toggle__switch {
  display: flex;
  position: relative;
}

.toggle__switch-box {
  border-radius: 20px;
  border: 2px solid #000;
  width: 56px;
  height: 28px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  position: absolute;
  cursor: pointer;
}

.switch__slider-F {
  margin: 0;
  padding: 0;
  left: 28px;
  cursor: pointer;
}

.switch__slider-C {
  margin: 0;
  padding: 0;
  left: 1px;
  cursor: pointer;
}

.switch__temp-C {
  position: absolute;
  color: #f3f3f3;
  top: 2px;
  left: 7px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.switch__temp-F {
  color: #f3f3f3;
  top: 2px;
  position: absolute;
  right: 8px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
