/* .clothes-section__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin-left: 116px;
  margin-top: 35px;
}

.clothes-section__info {
  display: flex;
  margin: 0;
  padding: 0;
}

.clothes-section__title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding-right: 20px;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.clothes-section__add-btn {
  width: 88px;
  height: 25px;
  background: transparent;
  border: none;
  font-size: 20px;
  white-space: nowrap;
  cursor: pointer;
} */
