.header {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
  max-width: 1360px;
  height: 40px;
  padding-top: 32px;
  padding-bottom: 28px;
  font-weight: 700;
}

.header__logo {
  display: block;
  width: 89px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.header__date-and-location {
  position: relative;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;
  height: 24px;
}

.header__add-clothes-btn {
  display: inline-block;
  line-height: 24px;
  font-weight: 700;
  font-family: "Cabinet Grotesk Regular", "Inter", sans-serif;
  white-space: nowrap;
  font-size: 20px;
  height: 24px;
  width: 116px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 20px;
}

.header__add-clothes-btn:hover {
  text-decoration: underline;
}

/* User Container */

.header__user-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header__username {
  line-height: 24.8px;
  white-space: nowrap;
  padding-right: 12px;
  text-decoration: none;
  color: #000;
}

.header__username:hover {
  text-decoration: underline;
}

.header__username:active {
  color: #4607e2;
  text-decoration: underline;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* sign-in/sign-up Links */

.header__nav {
  display: flex;
  align-items: center;
  padding-left: 20px;
  white-space: nowrap;
}

.sign-in__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: #000;
  text-decoration: none;
  border: none;
  margin-right: 20px;
}

.sign-in__link:hover {
  text-decoration: underline;
}

.sign-up__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin: 0;
  color: #000;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.sign-up__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sign-up__link:active {
  text-decoration: underline;
}
